body {
	color: white;
	font-family: "Berkshire Swash", cursive;
}

button {
	background-color: pink;
	border-radius: 25px;
}

button:hover {
	background-color: white;
	cursor: pointer;
}

img {
	max-width: 150px;
	border: 3px dotted darkred;
}

select {
  margin-bottom: 5px;
} 

#container {
	width: 300px;
	text-align: center;
	margin: 0 auto;
	padding: 25px;
	background: url("https://cdn.pixabay.com/photo/2018/01/18/02/20/heart-3089409_960_720.jpg");
	background-repeat: no-repeat;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

#title,
label {
	text-shadow: -1px -1px 3px red, 1px 2px 1px black;
	padding: 5px;
	width: 100%;
}

#display-joke {
	background: rgba(0, 0, 0, 0.8);
	background-color: whitesmoke;
	color: black;
	text-shadow: 1px 1px 1px rgba(255, 0, 0, 0.9);
	padding: 25px;
}